<div class="row gx-5 pb-5 align-items-center">
  <div class="col-lg-7">
    <!-- Mashead text and app badges-->
    <div class="mb-5 mb-lg-0 text-center text-lg-start">
      <h1 class="display-1 lh-1 mb-3"><%= t('.welcome') %></h1>
      <p class="lead fw-normal text-muted mb-3"><%= t('.welcome2') %></p>
      <% if current_user %>
      <p class="lead fw-normal text-muted mb-3"><%= t('.welcome4', username: current_user.name.present? ? current_user.name : current_user.email) %></p>
      <%= button_to boards_path, method: 'get', class: "btn btn-success btn-lg" do%>
      <span class="bi bi-bookmark-heart"><%= t('global.boards_button') %></span>
      <% end %>
      <% else %>
      <p class="lead fw-normal text-muted mb-3"><%= t('.welcome3') %></p>
      <%= link_to t('shared.navbar.sign_in_button'), new_user_session_path, class:"btn btn-primary btn-lg" %>
      <%= link_to t('shared.navbar.sign_up_button'), new_user_registration_path, class:"btn btn-primary btn-lg" %>
      <% end %>
      <div class="d-flex flex-column flex-lg-row align-items-center">
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <%= image_tag "avatar.png", class: "d-block mx-auto"%>
  </div>
</div>
<hr>
<%= render partial: "shared/how_it_works" %>
