<%= form_for(@user, :url => { :action => "update",:controller => 'users', } ) do |f| %>
<h2><%= t('.header') %></h2>
<div class="col-md-6 p-1">
  <%= f.label :password, t('global.form.password_label'), class: "form-label" %><br />
  <%= f.password_field :password, :autocomplete => "off", class: "form-control", placeholder: t('global.form.password_placeholder') %>
</div>
<div class="col-md-6 p-1">
  <%= f.label :password_confirmation, t('.password_confirmation'), class: "form-label" %><br />
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: t('.password_confirmation_placeholder') %>
</div>
<div class="actions">
  <%= f.submit t('.submit'), class: "btn btn-success" %>
</div>
<% end %>
