<h1>Boards</h1>
 <div class="row row-cols-lg-4">
   <% @boards.each do |board| %>
    <div class="col card border-dark m-3">
      <div class="card-body text-dark" style="transform: rotate(0);">
        <h5 class="card-title"><%= board.name %></h5>
        <p class="card-text"><%= board.description %></p>
        <%= link_to(board_cards_path(board), class: "stretched-link") do%>
      <% end %>
      </div>
     <div class="card-footer row justify-content-center bg-transparent border-top-0">
      <div class="col-2">
      <%= button_to(edit_board_path(board), method: 'get', class: "btn btn-primary") do%>
      <i class="bi bi-pencil-fill"></i>
      <% end %>
      </div>
      <div class="col-2">
      <%= button_to(board_path(board), method: 'delete', class: "btn btn-danger", data: { confirm: 'Are you sure?'}) do%>
      <i class="bi bi-trash-fill"></i>
      <% end %>
      </div>
     </div>
    </div>
<% end %>
</div>
<br>
<%= button_to new_board_path, method: 'get', class: "btn btn-outline-dark" do%>
  <span class="bi bi-bookmark-plus">New board</span>
<% end %>
