<h1><%= t('.header') %></h1>
<h3><%= t('.name') %> <%= @board.name %></h3>
<h3><%= t('.description') %> <%= @board.description %></h3>
<br />
<%= link_to t('global.button.back_to_boards'), boards_path, class: "btn btn-outline-dark" %>
