<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style type="text/css">
    <%= Rouge::Themes::IgorPro.render(:scope => '.highlight') %>
  </style>
  <script type="module">
    import Autogrow from "https://cdn.jsdelivr.net/npm/vanilla-autogrow@1.0.0/autogrow.min.js";
    var inst = new Autogrow();
  </script>
</head>

<body>
  <%= render partial: "shared/navbar" %>
  <div class="container my-3">
    <%= yield %>
  </div>
</body>
</html>
